[submodule "external/opencardev-aasdk"]
	path = external/opencardev-aasdk
	url = https://github.com/mossyhub/aasdk.git
	branch = openautolink
[submodule "external/opencardev-openauto"]
	path = external/opencardev-openauto
	url = https://github.com/opencardev/openauto.git
	ignore = dirty
