<?xml version="1.0" standalone='no'?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
  <name>OpenAutoLink</name>
  <service>
    <type>_carplay._tcp</type>
    <port>5000</port>
    <txt-record>features=0x4200</txt-record>
    <txt-record>model=OpenAutoLink,1</txt-record>
    <txt-record>srcvers=366.0</txt-record>
  </service>
  <service>
    <type>_airplay._tcp</type>
    <port>7000</port>
    <txt-record>features=0x1C340405CA2A83</txt-record>
    <txt-record>model=OpenAutoLink,1</txt-record>
    <txt-record>srcvers=366.0</txt-record>
    <txt-record>flags=0x04</txt-record>
    <txt-record>vv=2</txt-record>
  </service>
</service-group>
